#body{
    width: 100%;
}
#body .container{
    width: 79%;
    margin: 86px auto;
}
#body a{
    text-decoration: none;
}
#body .container .options .sel{
    float: left;
    text-align: center;
}

#body .container .options .left{
    width: 513px;
    height: 831px;
    background: url(../imageSource/left.png) no-repeat center;
    margin: 0 28px 0 0;
}

#body .container .options .middle{
    width: 481px;
    height: 831px;
    margin: 0 28px 0 0;
} 
#body .container .options .right{
    width: 450px;
    height: 831px;
    background: url(../imageSource/collections.png);
}
#body .container .options .middle .season{
    width: 100%;
    height: 323px;
    background: url(../imageSource/season.png);
    margin-bottom: 40px;
}
#body .container .options .middle .hotSale{
    width: 100%;
    height: 468px;
    background: url(../imageSource/hotSale2.0.png);
}
#body .container .options .left .title{
    width: 182px;
    margin: 131px auto 84px;
}
#body .container .options .left .para{
    width: 445px;
    margin: 0 auto;
}
#body .container .options .left .button{
    width: 296px;
    height: 97px;
    border: solid 4px #e5e5e5;
    text-align: center;
    position: relative;
    margin: 119px auto 206px;
    cursor: pointer;
}
#body .container .options .left .button .content{
    margin-top: 25px;
}
#body .container .options .left .button .button_arrow{
    width: 110px;
    height: 68px;
    background: url(../imageSource/rightArrow.png);
    margin: 0 auto;
    top: 15px;
    left: 93px;
    position: absolute;
    opacity: 0.6;
    visibility: hidden;
}
#body .container .options .middle .season div{
    padding-top: 133px;
    padding-bottom: 150px;
}
#body .container .options .middle .hotSale div{
    padding-top: 210px;
    padding-bottom: 222px;
}
#body .container .options .right div{
    padding-top: 350px;
}

#body .container .shop{
    position: relative;
}
#body .container .shop .shop_title{
    width: 637px;
    margin: 84px auto 71px;
}
#body .container .shop .shopDisplay{
    width: 1288px;
    height: 964px;
    background: #f3e0d3;
    float: right;
}
#body .container .shop .shopDisplayImg{
    width: 480px;
    height: 720px;
    background: url(../imageSource/hehua.png);
    position: absolute;
    margin: 122px 0 ;
    z-index: 4;
}
#body .container .shop .shopDisplay .content{
    margin: 121px 0 0 288px;
    width: 1024px;
}
#body .container .shop .shopDisplay .content .title .sel{
    display: inline-block;
}
#body .container .shop .shopDisplay .content .title .image{
    margin: 0 25px;
}
#body .container .shop .shopDisplay .content .title .image .crown{
    margin-left: 11px;
}
#body .container .shop .shopDisplay .content .title .button{
    width: 264px;
    height: 57px;
    border: solid 3px #000000;
    vertical-align: middle;
    margin-top: -30px; 
    text-align: center;
    position: relative;
    cursor: pointer;
}
#body .container .shop .shopDisplay .content .title .button .enterShop{
    margin: 16px 0;
}
#body .container .shop .shopDisplay .content .para{
    margin: 78px 0 11px 0;
}
#body .container .shop .shopDisplay .content .para p{
    margin: 39px 0;
}
#body .container .shop .shopDisplay .content .imageDisplay{
    height: 351px;
    position: relative;
    width: 110%;
}
#body .container .shop .shopDisplay .content .imageDisplay .img{
    float: left;
    margin: 16px 26px 0 0;
}
#body .container .shop .shopDisplay .content .imageDisplay .img img{
    width: 296px;
    height: 297px;
}
#body .special_month{
    position: relative;
}
#body .special_month .special_month_title{
    width: 740px;
    margin: 80px auto 103px;
}
#body .special_month .container{
    height: 387px;
}
#body .special_month{
    width: 100%;
}
#body .special_month .container .window{
    width: 1395px;
    height: 387px;
    overflow: hidden;
    margin: 0 -100px;
}
#body .special_month .container .window .images{
    width: 4185px;
    height: 387px;
    margin-left: -1395px;
}
#body .special_month .container .window .images .sel{
    float: left;
    width: 425px;
    height: 387px;
    margin: 0 20px;
}
#body .special_month .container .window .images .sel img{
    width: 425px;
    height: 284px;
}
#body .special_month .container .window .images .sel .title{
    text-align: center;
    margin: 27px 0 0 0;
}
#body .special_month .container .window .images .sel .description{
    text-align: center;
    margin: 14px 0 0 0;
}
#body .special_month .container .window .images .sel .description .cross{
    text-decoration: line-through;
}
#body .special_month .container .special_arrow{
    position: absolute;
}
#body .special_month .container .left_arrow{
    height:0;
    width:0;
    border-top:solid 50px transparent;
    border-left:solid 50px transparent;
    border-right:solid 50px black;
    border-bottom:solid 50px transparent;
    position: absolute;
    top: 233px;
    left: -56px;
    opacity: 0.6;
}
#body .special_month .container .left_arrow:after{
    height:0;
    width:0;
    border-top:solid 50px transparent;
    border-left:solid 50px transparent;
    border-right:solid 50px white;
    border-bottom:solid 50px transparent;
    position: absolute;
    top: -50px;
    left: -42px;
    content: " ";
}
#body .special_month .container .right_arrow{
    height:0;
    width:0;
    border-top:solid 50px transparent;
    border-left:solid 50px black;
    border-right:solid 50px transparent;
    border-bottom:solid 50px transparent;
    position: absolute;
    top: 233px;
    left: 1463px;
    opacity: 0.6;
}
#body .special_month .container .right_arrow:after{
    height:0;
    width:0;
    border-top:solid 50px transparent;
    border-left:solid 50px white;
    border-right:solid 50px transparent;
    border-bottom:solid 50px transparent;
    position: absolute;
    top: -50px;
    left: -57px;
    content: " ";
}

